/* Main Page Layout Styling */
html,
body {
    font-size: 14px;
    height: 100%;
    background-color: white;
}

#main {
    min-height: -webkit-calc(100vh - 50px);
    min-height: -moz-calc(100vh - 50px);
    min-height: calc(100vh - 50px);
    background-color: #eee;

}

#left , #right {
    position: absolute;
    width: 50px;
    top:0;
    bottom: 0;
    background-color: white;
    z-index: 1;
}
#left {
    left: 0;
}

#right {
    right: 0;
}
.footer {
    height: 50px;
    position: absolute;
    bottom: 0;
    padding: 0 50px;
    background-color: white;
    width: 100%;
}

.full-height-image {
    height: 100vh;
    position: relative;
}

.center-content {
    margin: 0 auto;
    text-align: center;
}

.main-padding {
    padding-top: 50px;
}

h1 {
    text-decoration: line-through;
}