.navbar-fixed-top .navbar-collapse {
    max-height: 100vh !important;
}

.navbar-custom {
    margin-bottom: 0;
    text-align: right;
    background-color: white;
    padding: 0 50px;
}
.navbar-inner li {
    float: none;
    display: inline-block;
}

a {
    color: black;
    font-size: 1.2rem;
}

.navbar-toggle {
    padding: 25px 10px;
    color: #fff;
    border: none;
    background: transparent !important;
}
.icon-bar {
    width: 22px;
    transition: all 0.2s;
}
.top-bar {
    -webkit-transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    transform: rotate(45deg);
    transform-origin: 10% 10%;
    -ms-transform: rotate(45deg);
    -ms-transform-origin: 10% 10%;
}
.middle-bar {
    opacity: 0;
}
.bottom-bar {
    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 10% 90%;
}


.navbar-toggle.collapsed {
.top-bar {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -ms-transform: rotate(0);
}
.middle-bar {
    opacity: 1;
}
.bottom-bar {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -ms-transform: rotate(0);
}
}

.icon-bar {
    background-color: black !important;
}


@media(min-width:1280px) {
    .navbar-custom {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .navbar-custom.top-nav-collapse {
        padding: 20px 0;
        background: rgba(0,0,0,0.9);
        height: 100px;
    }

}

@media (max-width: 1279px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

.active {
    background-color: transparent !important;
    color: grey !important;
}