.page-block .page-block__image {
    position: relative;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    padding-bottom: 100%;
}
.page-block .page-block__content {
    background-color: white;
    padding: 20px 0px;
}

